body {
    background-color: #F0EAD2;
    color: #6C584C;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #DDE5B6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
    align-items: center;
}

.sustainability-score,
.money-remaining {
    margin-right: 10px;
}

.leaderboard-icon {
    width: 40px;
    height: auto;
}

.card {
    background-color: #ADC178;
    color: #6C584C;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center
}

.company-name {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.stock-price,
.esg-rating,
.pe-ratio,
.risk-rating {
    margin-bottom: 5px;
}

.description {
    margin-bottom: 10px;
}

.performance {
    text-align: left;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.purchase-btn,
.skip-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.purchase-btn {
    background-color: #A98467;
    color: white;
    border: 1px solid #6C584C;
}

.skip-btn {
    background-color: #F0EAD2;
    color: #A98467;
    border: 1px solid #6C584C;
}

.purchase-btn:hover,
.skip-btn:hover {
    opacity: 0.8;
}

.share-input{
    width: 160px;
}

.total-price-container{
    width: 100px;
    margin-top: 10px;
}
