.quote-container {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 1rem;
}

.footer {
    margin-top: 9rem;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 2rem;
    }
}