<main class="main">
  <header class="header">
    <div class="text-center">
      <img src="logo_transparent.png" alt="Green Invest" class="img-logo">
      <h1>Green Invest</h1>
      <div class="text-center">
        <p>Empower your portfolio with sustainability. </p>
        <p>Learn, invest, and grow responsibly with Green Invest.</p>
      </div>
    </div>
  </header>

  <body>
    <div class="btn-group">
      <button [routerLink]="'/Play'">Play</button>
      <button [routerLink]="'/Learn'">Learn</button>
    </div>
  </body>

  <footer>
    <div class="text-center footer">
      <i>© Green Invest 2024</i>
    </div>
  </footer>
</main>