.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0.5rem;
    width: 42em;
}


h1 {
  color: #6c584c;
  font-size: 3.5em; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px; 
  margin-top: 20px;
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
    border: 1px seashell #6C584C;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 10px #6C584C;
    transition: transform 0.3s ease-in-out;
    animation: floatAnimation 4s ease-in-out infinite;
  }
  
  @keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

.green-btn {
  background-color: #ADC178;
  color: #f0ead2;
  width: 100%;
  height: 150px;
  font-size: 36px; 
  font-weight: bold; 
  text-transform: uppercase; 
  border: none;
  border-radius: 10px; 
  transition: background-color 0.3s, transform 0.2s; 
}

.green-btn:hover {
  background-color: #a98467; 
  transform: scale(1.03); 
}


.btn-secondary {
  background-color: #a98467;
  color: #f0ead2;
  width: 100%;
  height: 100px;
  font-size: 28px; 
  font-weight: bold; 
  text-transform: uppercase; 
  border: none;
  border-radius: 10px; 
  transition: background-color 0.3s, transform 0.2s; 
}

.btn-secondary:hover {
  background-color: #8e6e56;
  transform: scale(1.05);
}
