<div class="container">
    <header class="text-center">
        <img src="assets/images/logo_transparent.png" alt="EcoEquity Logo" class="logo">
        <h1 class="header-one mt-2">📈 Invest</h1>
    </header>

    <div class="card raised-box mt-4">
        <div class="card-body">
            <!-- Mock Chat Box -->
            <div class="chat-box">
                <div class="chat-bubble">
                    <p><strong>GreenInvestGPT:</strong> Hello, I believe investing sustainably is crucial for our
                        future.</p>
                </div>
                <div class="chat-bubble">
                    <p><strong>GreenInvestGPT:</strong> You ended with a sustainability score of 25 and an end portfolio
                        value of $122,005.</p>
                </div>
                <!-- User's Chat Bubble -->
                <div class="chat-bubble blue chat-bubble-user">
                    <p style="align-self: flex-end;"><strong>You:</strong> How can I invest more sustainably?</p>
                </div>
                <!-- AI Response -->
                <div class="chat-bubble">
                    <p><strong>GreenInvestGPT:</strong> Investing sustainably involves focusing on companies with strong
                        environmental practices, renewable energy sources, and ethical business practices. You can also
                        consider ESG (Environmental, Social, and Governance) criteria when selecting investments.</p>
                </div>
                <!-- Additional Chat Bubbles can be added here -->
            </div>

            <!-- Input Box -->
            <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="Type your message...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Send</button>
                </div>
            </div>
        </div>
    </div>



    <div class="d-flex flex-column align-items-center text-center mt-5 maindiv">
        <button type="button" class="btn gray-btn mb-1 mt-5" [routerLink]="''">Back</button>
    </div>

    <footer class="text-center d-flex flex-column footer">
        <i>🌱</i>
        <i>© 2024 EcoEquity</i>
    </footer>
</div>