.main {
    background-color: #F0EAD2;
    max-width: 45em;
    margin: 0 auto;
    padding: 20px;
    color: #A98467;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure main takes full viewport height */
}

p {
    color: #6C584C;
    font-size: 12px;
    margin: 3px;
}

i {
    margin-right: 10px;
}

h1 {
    color: #6C584C;
    font-size: 60px;
}
  
.header {
    background-color: #dde5b6;
    padding: 10px 0;
    text-align: center;
    border-radius: 70px;
}
  
.img-logo {
    max-width: 100px; 
}
  
body {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-group {
    text-align: center; 
    margin-top: 20px; 
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.btn-group button {
    background-color: #ADC178;
    color: #F0EAD2;
    padding: 60px 300px;
    cursor: pointer;
    display: block; 
    margin-bottom: 10px; 
    border: none;
    border-radius: 30px; 
    font-size: 50px;
}

.btn-group button:not(:last-child) {
    margin-bottom: 10px; /* Adjust space between buttons */
}

.btn-group button:hover {
    background-color: #A98467;
}
  
.footer {
    padding: 10px 0;
    background-color: #F0EAD2; 
}