<div class="container">
    <header class="text-center">
        <img src="assets/images/logo_transparent.png" alt="EcoEquity Logo" class="logo">
        <h1 class="header-one mt-2">📈 Invest</h1>
    </header>
    <div>
        <div class="card raised-box mt-4">
            <div class="card-body">
                <div class="row text-center">
                    <!-- Sustainability Score and Value -->
                    <div class="col-12">
                        <p class="mb-0">Sustainability Score: 25</p>
                    </div>

                    <!-- Money SVG and Dollar Amount -->
                    <div class="col-12 d-flex align-items-center margin-left">
                        <img src="assets/images/money.svg" class="svg-image mr-2">
                        <p class="mb-0">$122,005</p>
                    </div>

                    <!-- App Portfolio Modal -->
                    <div class="col-12 col-md">
                        <app-portfolio-modal></app-portfolio-modal>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex flex-column align-items-center text-center mt-2">
            <div class="card raised-box">
                <div class="card-body">
                    <h5 class="card-title">Green Energy Solutions Inc.</h5>
                    <p>GESI</p>
                    <i class="mt-1">Renewable Energy</i>
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="mb-0">$42.50</p>
                        </div>
                        <div class="col">
                            <p class="text-success mb-0">+1.20 (+2.90%)</p>
                        </div>
                    </div>
                    <p class="card-text mt-2">Green Energy Solutions Inc. focuses on providing sustainable energy
                        solutions
                        globally, aiming to reduce carbon emissions.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-danger btn-circle">Skip</button>
                </div>
                <div class="col">
                    <app-buy-modal></app-buy-modal>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center text-center mt-5 maindiv">
            <button type="button" class="btn green-btn mb-3" [routerLink]="'/invest'">⏳ Next Week</button>
            <button type="button" class="btn green-btn mb-3" [routerLink]="'/end-game'">👾 End Game</button>
        </div>
    </div>
    <footer class="text-center d-flex flex-column footer">
        <i>🌱</i>
        <i>© 2024 Green Invest</i>
    </footer>
</div>