@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    line-height: 1.4;
    font-size: 16px;
    padding: 0 10px;
    margin: 0px auto 0px auto;
    max-width: 90%;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 175px;
    height: 175px;
    margin: 0 auto;
    display: block;
}

.header-one {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 0 0 10px 0;
}

main {
  overflow-y: auto; 
  padding: 5px;
}

.green-btn {
    background-color: #00b894;
    color: white;
    width: 20rem;
    border: none;
    padding: 10px 80px;
    border-radius: 5px !important;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    text-align: center;
}

.green-btn:hover {
    background-color: #00a88b;
}

.gray-btn {
    background-color: #6c757d;
    color: white;
    width: 20rem;
    border: none;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    text-align: center;
}

.gray-btn:hover {
    background-color: #495057;
}

.svg-image {
    max-width: 50px; /* Adjust maximum width as needed */
    max-height: 50px; /* Adjust maximum height as needed */
    vertical-align: middle; /* Align SVG vertically with text */
    margin-right: 10px; /* Add margin to separate from text */
}

.raised-box {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Adjust shadow for 3D effect */
    padding: 15px; /* Adjust padding as needed */
    margin-bottom: 20px; /* Add margin for spacing */
}

.svg-image {
    max-width: 50px; /* Adjust maximum width as needed */
    max-height: 50px; /* Adjust maximum height as needed */
    vertical-align: middle; /* Align SVG vertically with text */
    margin-left: 10px; /* Add margin to separate from text */
}

.dollar-amount {
    font-size: 1.2rem; /* Adjust font size for dollar amount */
    font-weight: bold; /* Ensure dollar amount text is bold */
    margin-bottom: 0; /* Remove default margin */
}
